* {
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(235, 235, 229);
  font-family: "Space Mono", monospace;
  font-size: 1em;
  display: flex;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  justify-content: center;
  align-items: center;
  color: grey;
  flex-direction: row;
}

h1 {
  font-weight: 600;
  writing-mode: sideways-lr;
  text-orientation: mixed;
}
.scoreboard {
  margin-left: 10px;
  /* outline: 1px solid red; */
  text-align: center;
}
.head {
  font-weight: 600;
}
.scoreboard > p {
  border-bottom: 0.5px solid #bac4c5;
  padding: 5px 0;
  margin: 10px 5px;
}

#container {
  width: 410px;
  height: 410px;
  display: grid;
  border: 1px solid #9f9f9f75;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: #add8e669;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  border: 0.5px solid #80808094;
  background: rgb(235, 235, 229);
  cursor: pointer;
  box-shadow: 0 1px #999;
  margin: 5px;
  color: #545454;
}

.cell:active {
  /* background-color: #3e8e41; */
  box-shadow: 0 1px #666;
  transform: translateY(2px);
}
.main {
  text-align: center;
}
.turn {
  font-size: 20px;
  margin-bottom: 16px;
}

.buttons {
  margin-top: 17px;
  display: flex;
  justify-content: space-around;
}

#resetButton,
#reloadPage {
  border: 1px solid grey;
  padding: 10px;
  background-color: #ebebe5;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 2px #999;
  color: #4d4949;
}

#resetButton:hover,
#realodPage:hover {
  background-color: rgba(187, 187, 187, 0.21);
}

#resetButton:active,
#reloadPage:active {
  box-shadow: 0 1px #666;
  transform: translateY(2px);
}

/* .buttons {
  display: flex;
  justify-content: space-around;
} */

@media screen and (max-width: 480px) {
  body {
    text-align: center;
  }

  h1 {
    display: none;
    writing-mode: initial !important;
    text-orientation: initial !important;
  }

  .scoreboard {
    display: none;
  }

  #container {
    width: 350px;
    height: 350px;
  }
}
